
     .main-content{
        margin-top: 70px;
        padding: 30px 15px;
        min-height: calc(100vh - 123px);
    }

     .footer{
        border-top: 1px solid #e7e7e7;
    }

     .navbar{
        margin-bottom: 0;
    }

    .header{
        margin-bottom: 30px;

       
    }
