<div>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav
          #drawer
          class="sidenav"
          fixedInViewport="true"
          [attr.role]="isHandset ? 'dialog' : 'navigation'"
          [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
          [opened]="!(isHandset | async)!.matches">
          <mat-toolbar color="primary">NHS</mat-toolbar>
          <mat-nav-list>      
            <a mat-list-item  href="#">Add Hierarchy</a>
            <a mat-list-item href="#">Dashboards</a>
            <a mat-list-item [routerLink]="['/container']">Patient</a>      
            <mat-expansion-panel>
                <mat-expansion-panel-header> 
                  <mat-panel-title>
                   Reports
                  </mat-panel-title>                    
                </mat-expansion-panel-header> 
                <a mat-list-item href="#">Transactional</a>
                <a mat-list-item href="#">Predictive</a>       
            </mat-expansion-panel>      
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>   
          <div id="navcontainer">
              <ul> 
                  <li>
                      <form> 
                      <div style="display: inline-block;">
                              <input type="text" class="form-control" value="" placeholder="Search...">
                      </div>               
                      
                      <div style="display: inline-block;">
                              <button mat-icon-button color="primary">
                                      <mat-icon>search</mat-icon>
                             </button>
                      </div>                                 
                      </form>  
                  </li>          
                  <li>
                      <a href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">notifications</i>
                          <span class="notification">5</span>
                          <p>
                              <span class="d-lg-none d-md-block">Some Actions</span>
                          </p>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Mike John responded to your email</a>
                          <a class="dropdown-item" href="#">You have 5 new tasks</a>
                          <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                          <a class="dropdown-item" href="#">Another Notification</a>
                          <a class="dropdown-item" href="#">Another One</a>
                      </div>
                  </li>
                  <li>
                      <a href="#pablo">
                          <i class="material-icons">person</i>                         
                      </a>
                  </li>
              </ul>
          </div>   
         
        </mat-sidenav-content>    
        <mat-sidenav-content>
                    
        </mat-sidenav-content>         
      </mat-sidenav-container>

</div>
